<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}

</head>
<body class="min-h-screen w-full flex flex-col items-center font-main bg-base text-content">

<header class="w-full p-4 shadow-md bg-surface1 text-content relative z-50">
    {{ partial "header.html" . }}
  </header>

  <main  class="flex-1  px-6 py-8">
    {{ block "main" . }}{{ end }}
  </main>

  <footer class=" w-full bg-surface1  ">
    {{ partial "footer.html" . }}
  </footer>
  
{{ partialCached "head/js.html" . }}
</body>
</html>
