<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}

</head>
<body class="antialiased">

<header class="p-6 shadow-md bg-card-light dark:bg-card-dark relative z-50">
    {{ partial "header.html" . }}
  </header>

  <main  class="container mx-auto px-6 py-8">
    {{ block "main" . }}{{ end }}
  </main>

  <footer class="bg-gray-100 dark:bg-gray-800 mt-12 py-6">
    {{ partial "footer.html" . }}
  </footer>
  
{{ partialCached "head/js.html" . }}
</body>
</html>
