/* normal */
@font-face {
    font-family: 'CourierPrime';
    src: url('/fonts/CourierPrime-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'CourierPrime';
    src: url('/fonts/CourierPrime-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'CourierPrime';
    src: url('/fonts/CourierPrime-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}


html {
    font-family: 'CourierPrime';
}

.cl {
    font-family: 'CourierPrime';
}