 <div class="container mx-auto flex justify-between items-center">
    <!-- Site Title -->
    <a href="/" class="text-xl font-bold text-surface2 ">{{ site.Title }}</a>


     <!-- Desktop Menu (visible on md+) -->
    <nav class="hidden md:flex space-x-3">
  {{ partial "menu.html" (dict "menuID" "main" "page" . "class" "flex items-center space-x-6") }}
    </nav>

    <!-- Hamburger + Menu -->
    <div class="flex items-center md:hidden">
      <!-- Hamburger Button (mobile only) -->
         <button id="menu-toggle" class=" flex items-center justify-center h-12 w-12 p-2 text-3xl rounded-full bg-surface2  text-text-light">☰</button>



<!-- Full-screen Mobile Menu Overlay -->
  <!-- Full-screen Mobile Menu Overlay -->
  <nav id="mobile-menu" class=" fixed inset-0 flex flex-col justify-center items-center space-y-12 transform -translate-x-full transition-transform duration-300 text-3xl bg-base  text-content  md:hidden">
  {{ partial "menu.html" (dict "menuID" "main" "page" . "class" "flex flex-col justify-center items-center space-y-12 text-3xl") }}
    <button id="menu-close" class="w-12 h-12 absolute top-6 right-6 p-2 rounded-full bg-surface2 text-xl text-content ">✕</button>
  </nav>
    </div>
  </div>